
{% extends "index.html" %}
{% load static %}

{% block content %}


   <section class="bg-02-a">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="_head_01">
                        <h2>	Urgut tumani 51-sonli umumiy o‘rta ta’lim maktabi   </h2>
                        <p><i class="fas fa-angle-right"></i><span> </span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="se-001">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="_Ol_er_qw">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis voluptatibus neque, assumenda maxime. Eaque libero unde corrupti deleniti maxime ratione doloremque suscipit perferendis aperiam labore debitis atque odit neque, possimus, aspernatur dicta nobis recusandae numquam provident porro, quam suscipit quibusdam. Commodi eum, optio quo.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis voluptatibus neque, assumenda maxime. Eaque libero unde corrupti deleniti maxime ratione doloremque suscipit perferendis aperiam labore debitis atque odit neque, possimus, aspernatur dicta nobis recusandae numquam provident porro, quam suscipit quibusdam. Commodi eum, optio quo.</p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12">
                    <div class="_Ol_er_qw yu">
                        <img src="{% static "assets/images/slider/2.png"%}">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ====================== section started====================== -->

    <section class="bg-01">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="se-box">
                        <div class="icon">
                           <i class="fal fa-chalkboard-teacher"></i>
                        </div>
                        <div class="content">
                            <h3>Xodimlar soni</h3>
                            <p>Hozirgi kunda maktabimizda 41 nafar xodim mavjud</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                   <div class="se-box">
                       <div class="icon">
                           <i class="fal fa-globe-americas"></i>
                       </div>
                       <div class="content">
                           <h3>O‘quvchilar soni</h3>
                           <p>Hozirgi kunda maktabimizda 	557 nafar O‘quvchilar mavjud<</p>
                       </div>
                   </div>
               </div>

               <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                   <div class="se-box">
                       <div class="icon">
                           <i class="fal fa-graduation-cap"></i>
                       </div>
                       <div class="content">
                           <h3>Hududiy bo‘ysinish</h3>
                           <p>	Urgut tumani (Samarqand viloyati)</p>
                       </div>
                   </div>
               </div>

               <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                   <div class="se-box">
                       <div class="icon">
                           <i class="fal fa-backpack"></i>
                       </div>
                       <div class="content">
                           <h3>Boshqaruvchi tashkilot</h3>
                           <a href="https://schools.emaktab.uz/v2/authorities/organization?org=1000000000023">Самарқанд ВХТБ | Самаркандская ОблУНО    </a>
                        </div>
                   </div>
               </div>
            </div>
        </div>
    </section>

</html>

{% endblock %}