
{% extends "index.html" %}
{% load static %}

{% block content %}


   <section class="bg-02-a">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="_head_01">
                        <h2>	Urgut tumani 51-sonli umumiy o‘rta ta’lim maktabi   </h2>
                        <p><i class="fas fa-angle-right"></i><span> </span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="se-001">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="_Ol_er_qw">
                        <p>Samarkand viloyati Urgut tumanidagi 51-maktab 1980 yilda qurilgan bo‘lib, uning qo‘shimcha binosi 2007 yilda qo‘shilgan. Maktabning umumiy yer maydoni 1.2 gektarni tashkil etadi va maktab tuman markazidan 12 km masofada joylashgan. Maktabda 640 o‘rinli o‘quvchi o‘rni mavjud: 1-binoda 340 o‘rin, 2-binoda 300 o‘rin.

                            Maktab umumiy o‘rta ta'lim maktabi maqomiga ega bo‘lib, ta'lim o‘zbek va rus tillarida olib boriladi, lekin hozirgi paytda faqat o‘zbek sinflarida o‘quvchilar bor. Jami 22 sinf bo‘lib, 560 nafar o‘quvchi tahsil oladi. Maktab ikki smenali: birinchi smenada 353 o‘quvchi, ikkinchi smenada 207 o‘quvchi o‘qiydi.</p>
                       </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12">
                    <div class="_Ol_er_qw yu">
                        <img src="{% static "assets/images/slider/Picture3.png"%}">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ====================== section started====================== -->

    <section class="bg-01">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="se-box">
                        <div class="icon">
                           <i class="fal fa-chalkboard-teacher"></i>
                        </div>
                        <div class="content">
                            <h3>Xodimlar soni</h3>
                            <p>Hozirgi kunda maktabimizda 41 nafar xodim mavjud</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                   <div class="se-box">
                       <div class="icon">
                           <i class="fal fa-globe-americas"></i>
                       </div>
                       <div class="content">
                           <h3>O‘quvchilar soni</h3>
                           <p>Hozirgi kunda maktabimizda 	560 nafar O‘quvchilar mavjud<</p>
                       </div>
                   </div>
               </div>

               <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                   <div class="se-box">
                       <div class="icon">
                           <i class="fal fa-graduation-cap"></i>
                       </div>
                       <div class="content">
                           <h3>Hududiy bo‘ysinish</h3>
                           <p>	Urgut tumani (Samarqand viloyati)</p>
                       </div>
                   </div>
               </div>

               <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                   <div class="se-box">
                       <div class="icon">
                           <i class="fal fa-backpack"></i>
                       </div>
                       <div class="content">
                           <h3>Boshqaruvchi tashkilot</h3>
                           <a href="https://schools.emaktab.uz/v2/authorities/organization?org=1000000000023">Самарқанд ВХТБ | Самаркандская ОблУНО    </a>
                        </div>
                   </div>
               </div>
            </div>
        </div>
    </section>

</html>

{% endblock %}