{% extends "index.html" %}
{% load static %}

{% block content %}

<section class="bg-02-a">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="_head_01">
                    <h2>Services</h2>
                    <p>Home<i class="fas fa-angle-right"></i><span>Services</span></p>
                </div>
            </div>
        </div>
    </div>

    <!-- ====================== Featured started====================== -->

    <section class="bg-02">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading">
                        <h2>Featured courses</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime totam quo, ducimus aliquid quisquam minima perspiciatis repellendus, minus tenetur reiciendis quis? Consequatur perferendis deleniti, rerum delectus consectetur modi praesentium deserunt.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="featured-box">
                        <div class="feature-card">
                            <a href="#"><i class="far fa-link"></i></a>
                            <img src="{% static "assets/images/featured/1.jpg"%}">
                        </div>
                        <div class="content">
                          <h3>MBA</h3>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolor</p>
                          <ol>
                              <li>3 Year Course</li>
                              <li>100 Clasess</li>
                              <li>10 am - 1 pm</li>
                          </ol>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="featured-box">
                      <div class="feature-card">
                          <a href="#"><i class="far fa-link"></i></a>
                          <img src="{% static "assets/images/featured/2.jpg"%}">
                      </div>
                      <div class="content">
                        <h3>BE</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolor</p>
                        <ol>
                            <li>3 Year Course</li>
                            <li>100 Clasess</li>
                            <li>10 am - 1 pm</li>
                        </ol>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="featured-box">
                      <div class="feature-card">
                          <a href="#"><i class="far fa-link"></i></a>
                          <img src="{% static "assets/images/featured/3.jpg"%}">
                      </div>
                      <div class="content">
                        <h3>ME</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolor</p>
                        <ol>
                            <li>3 Year Course</li>
                            <li>100 Clasess</li>
                            <li>10 am - 1 pm</li>
                        </ol>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="featured-box">
                      <div class="feature-card">
                          <a href="#"><i class="far fa-link"></i></a>
                          <img src="{% static "assets/images/featured/4.jpg"%}">
                      </div>
                      <div class="content">
                        <h3>MBBS</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolor</p>
                        <ol>
                            <li>3 Year Course</li>
                            <li>100 Clasess</li>
                            <li>10 am - 1 pm</li>
                        </ol>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="featured-box">
                      <div class="feature-card">
                          <a href="#"><i class="far fa-link"></i></a>
                          <img src="{% static "assets/images/featured/5.jpg"%}">
                      </div>
                      <div class="content">
                        <h3>MSC</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolor</p>
                        <ol>
                            <li>3 Year Course</li>
                            <li>100 Clasess</li>
                            <li>10 am - 1 pm</li>
                        </ol>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="featured-box">
                      <div class="feature-card">
                          <a href="#"><i class="far fa-link"></i></a>
                          <img src="{% static "assets/images/featured/6.jpg"%}">
                      </div>
                      <div class="content">
                        <h3>MA</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolor</p>
                        <ol>
                            <li>3 Year Course</li>
                            <li>100 Clasess</li>
                            <li>10 am - 1 pm</li>
                        </ol>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </section>


{% endblock %}
